/*USER BAR*/
.userbar{
    background-color: transparent; /*background in transparent*/
    color: #5a5a5a; /*Items in white*/
}

#qw9jwiqweqwe {
    padding: 0 10px;
}
hola { display: block}

a.nav-link.hicons {
    color: var(--hicons);
}

p {}